* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: gray;
  font-family: "Poppins", sans-serif;
  color: black;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  /* position: relative; */
}
p {
  color: black;
  font-size: 2rem;
}
a {
  transition: all 0.3s;
  text-decoration: none;
  color: black;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.logo {
  cursor: default;
}

/* SECTIONS */

/* PROFILE */
.sec_img_container {
  width: 400px;
  height: 400px;
  display: flex;
  margin: 0 10rem;
}
.pic {
  border-radius: 50%;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 70vh;
  margin: 0 auto;
}

.social {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}

.section_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 35px;
  /* margin-right: 10rem; */
}
.social-container {
  display: flex;
  margin-left: 6px;
  gap: 2.5rem;
  align-self: center;
  margin-top: 1rem;
}
.linkedin,
.github {
  cursor: pointer;
}
/* .linkedin:hover,
.github:hover {
  width: 2rem;
  height: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
} */
.btn-resume {
  /* background-color: rgba(255, 166, 0, 0.838); */
  background-color: rgb(53, 53, 53);
  border: black 0.1rem solid;
  padding: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}
.btn-resume:hover {
  border: black 0.3rem solid;
  cursor: pointer;
  border: black 0.2rem solid;
}

/* ABOUT */
#about {
  margin: 0 auto;
  align-self: center;
  text-align: center;
  height: 35vh;
}
.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: black;
  /* border-bottom: 1px solid white; */
}
span {
  /* font-size: 2.6rem; */
  font-weight: 500;
  font-style: italic;
  font-size: 1.4rem;
  /* color: gray; */
}
.about-1 {
  /* text-align: center; */
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 0.75rem;
  margin-bottom: 1.25rem;
}
.about-myself {
  /* margin-top: 1.4rem; */
  /* line-height: 3rem; */
  font-size: 1.37rem;
  line-height: 0.75rem;
  margin-bottom: 1.25rem;
  /* text-align: center; */
}
/* SKIILS */
#skills {
  margin: 0 auto;
  height: 50vh;
}
.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5%;
  margin-top: 1.35rem;
}
.skill-img {
  width: 150px;
  height: 100%;
  margin-bottom: 10px;
  filter: brightness(50%);
  opacity: 100;
}
.css,
.javascript {
  width: 100px;
  height: 50%;
}
.javascript {
  height: 65%;
  margin-top: 30px;
}

.html {
  width: 200px;
}
.label {
  text-align: center;
}
/* PROJECTS */
#Projects {
  margin: 0 auto;
  height: 85vh;
}
.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  justify-content: space-around;
}
.overview {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 35px;
}
.bankist-img {
  width: 600px;
  height: 100%;
  filter: brightness(55%);
  border-radius: 10px;
  /* border-top: gray 0.1rem solid; */
}
/* CONTACTS */
#contact {
  margin: 0 5rem;
  margin-top: 20px;
  height: 45vh;
}
.contact-container {
  display: flex;
  width: 450px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid black;
  margin: 5rem auto;
  margin-top: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 20px;
}
/* h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
} */
.email-container,
.linkedin-container {
  width: auto;
  display: flex;
  gap: 10px;
  align-self: center;
  justify-content: space-around;
}
.email,
.linkedin-text {
  font-size: 1rem;
  cursor: pointer;
}
.linkedin,
.email-logo {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.nav-bar {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}
.nav-close {
  position: absolute;
  opacity: 0;
  top: 35px;
  right: 35px;
  width: 30px;
  height: auto;
  cursor: pointer;
}
